body{
    background-color: blanchedalmond; background-image: url(/static/adm2.jpg);
}
.d1{
    width: 80%; margin-left: 10%; 
    
}
.h1{
    color: black; font: 28px 'Verdana'; margin-bottom: 50px; margin-top: 50px;
}
.i1{
    width: 350px;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.b1{
    width: 100px; height: 40px; background-color: red; 
    border: 1px red solid; border-radius: 4px; 
    color: blanchedalmond; font: 16px arial;
}