<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <style>
        .l1:link, .l1:visited {
    background-color: goldenrod;
    color: black;
    padding: 24px 55px; font-size: 25px; font-family: 'arial rounded mt'; width: 210.3px;
    text-align: center; margin-top: 1px;
    text-decoration: none;
    display: inline-block;
  }
  
  .l1:hover, .l1:active {
    background-color: black;
    color: blanchedalmond;
  }
    </style>
</head>
<body><div style="margin: 20%;">
    <a class="l1" href="/record">Want to resgister someone</a>
    <a class="l1" href="/record2">show all saved records</a>
</div>
</body>
</html>